<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- 添加全局包文件夹配置 -->
    <add key="globalPackagesFolder" value=".\packages" />
  </config>
  <packageSources>
    <!-- 清除默认的包源 -->
    
    <!-- 添加本地包源 -->
    <add key="Local Packages" value=".\packages" />
  </packageSources>
  <packageRestore>
    <!-- 启用包恢复 -->
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>